extends ../layout

block content

    br
    a(href='/bicicletas') Volver al listado de bicicletas.
    br
    br
    h1 Nueva Bicicleta
    br
    br
    form(action='/bicicletas/create' method='POST')
        label(for='id') ID: 
        input#id(type='text' name='id')
        br
        label(for='color') Color: 
        input#color(type='text' name='color')
        br
        label(for='modelo') Modelo: 
        input#modelo(type='text' name='modelo')
        br
        label(for='latitud') Latitud: 
        input#latitud(type='text' name='latitud')
        br
        label(for='longitud') Longitud: 
        input#longitud(type='text' name='longitud')
        br
        input.submit(type='submit' value='OK')